._4- {
    display: none
}

.child_was_focused ._4- {
    display: block
}

._55d0 {
    background-color: #fff
}

._119 .textInput::-ms-clear {
    height: 0;
    width: 0
}

.fbPageBanner {
    position: relative;
    z-index: 301
}

.hideBanner .fbPageBanner, .fixedBody .fbPageBanner {
    display: none
}

@media (min-width: 480px) {
    .fbPageBannerInner {
        margin: auto;
        max-width: 950px;
        min-width: 920px
    }
}

.sidebarMode .fbPageBannerInner {
    left: -102px;
    position: relative
}

._3od9 {
    width: 225px
}

._3od9._3-31 {
    width: 260px
}

._1cir {
    width: 170px
}

._58qd ._3oz-:not(._52-0) {
    display: none
}

._58qd ._52-0 {
    display: inline-block
}

._3od9 ._3odc .itemAnchor, ._3od9 ._3oda .itemAnchor {
    padding-bottom: 10px;
    padding-top: 10px
}

._3od9 ._54ni ._54nc {
    padding: 10px 10px
}

._1cir ._3oda ._54nc {
    padding: 10px 10px 7px 10px
}

._1cir ._54nc {
    padding: 2px 10px
}

._3od9 ._3oda .itemAnchor:active, ._3od9 ._3oda .itemAnchor:focus {
    background-color: #fff
}

._3od9 ._3oda .itemAnchor, ._1cis ._3oda ._54nc {
    border-width: 0;
    color: #90949c;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    text-transform: uppercase;
    vertical-align: middle
}

._1cis ._54ng ._54nf {
    padding: 0
}

._1cis ._3odc {
    position: relative
}

._3od9 ._3odc {
    background-color: #f6f7f9
}

._3od9 ._3odc._1-5- {
    background-color: #fff
}

._1cis ._3_xs, ._1cis ._3_xt, ._1cis ._1-5_ {
    padding-left: 22px
}

._1cir ._3_xs {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    padding-left: 22px
}

._1cir ._52-0 ._3_xs {
    font-weight: bold
}

._1cis ._3odc .itemAnchor:active ._3_xs, ._1cis ._3odc .itemAnchor:active ._3_xt, ._1cis ._3odc .itemAnchor:active ._1bhb, ._1cis ._3odc .itemAnchor:focus ._3_xs, ._1cis ._3odc .itemAnchor:focus ._3_xt, ._1cis ._3odc .itemAnchor:focus ._1bhb, ._1cis ._54ne ._3_xs, ._1cis ._54ne ._3_xt, ._1cis ._54ne ._1bhb {
    color: #fff
}

._1cis ._1bhb {
    font-weight: bold
}

._1bhb ._5tqs {
    animation-play-state: paused;
    display: none
}

._1bhb.async_saving ._5tqs {
    animation-play-state: running;
    display: inline-block
}

._3od9 ._3_xs {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 4px
}

._1cis ._3_xt {
    color: #7f7f7f;
    font-size: 11px;
    line-height: 14px;
    white-space: normal
}

._1cis ._1-5_ {
    color: #4b4f56;
    font-size: 11px;
    line-height: 17px;
    white-space: normal
}

._1cis ._52-0 ._3_xt._1bhc {
    display: none
}

._1cis ._52-0 ._3_xt._1bhd {
    display: block
}

._1cis ._1bhd {
    display: none
}

._1cis ._54ak {
    border-bottom: 1px solid #e9ebee;
    margin: 0 10px
}

._3od9 ._54ak {
    padding-top: 10px
}

._1cir ._54ak {
    padding-top: 7px
}

._1cis ._3_xu, ._1cis ._52-0._54ne ._3_xu, ._1cis ._52-0 .itemAnchor:active ._3_xu, ._1cis ._52-0 .itemAnchor:focus ._3_xu, ._1cis ._5r1z, ._1cis ._1-60 {
    display: none;
    position: absolute;
    top: 13px
}

._1cir ._3odc ._3_xu, ._1cir ._3odc ._52-0._54ne ._3_xu, ._1cir ._3odc ._5r1z {
    top: 5px
}

._1cis ._52-0 ._3_xu, ._1cis ._52-0 .itemAnchor:active ._5r1z, ._1cis ._52-0 .itemAnchor:focus ._5r1z, ._1cis ._52-0._54ne ._5r1z, ._1cis ._52-0 ._1-60 {
    display: inline-block
}

._1cis ._3odd ._54nh {
    color: #000;
    line-height: 16px
}

._1cis ._3odd .itemAnchor:active ._54nh, ._1cis ._3odd .itemAnchor:focus ._54nh, ._1cis ._3odd._54ne ._54nh {
    color: #fff
}

._3od9 ._3oda .itemAnchor.disabledAnchor {
    display: none
}

._3od9 ._3odd ._54nc {
    padding: 6px 10px
}

._1cir ._3odd ._54nc {
    padding: 4px 10px
}

._1cis ._3odd, ._1cis ._1kbi {
    margin: 6px 0
}

._1cis ._3cuw {
    display: none
}

._1cis._3siw ._3cv6 {
    display: none
}

._1cis._3siw ._3cuw {
    display: inline-block;
    width: 100%
}

._3od9 ._3-36 {
    margin-left: 5px
}

._3od9 ._1bhe {
    display: none;
    padding-left: 22px
}

._3od9 ._52-0 ._1bhe {
    display: block
}

._5c9q, ._5c9_ {
    display: block;
    -webkit-filter: grayscale(100%);
    height: 18px;
    width: 18px
}

._5c9q {
    background-image: url(/rsrc.php/v3/y1/r/k_zl0LGiaCH.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -199px;
    cursor: pointer
}

._5c9_ {
    background-image: url(/rsrc.php/v3/y1/r/k_zl0LGiaCH.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0 -217px
}

._5c9q:hover, ._5c9_:hover {
    -webkit-filter: grayscale(100%) brightness(80%)
}

._rus ._5c9q, ._rus ._5c9_ {
    margin-top: 24px
}

._5ge1 {
    background-color: #fff;
    border: 1px solid;
    border-color: #bec2c9;
    min-width: 300px
}

._5p0s {
    border: none;
    height: 32px;
    padding: 8px 0 4px 8px;
    width: 100%
}

._5p0r {
    border-color: #90949c;
    border-top-style: solid;
    border-top-width: 1px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto
}

._5e4h._5e2j {
    height: 22px;
    overflow: hidden
}

._5e4h._5e2k, ._5e4h ._5e2k {
    background: #fff;
    border: 1px solid;
    border-color: #a4a4a4 #bbb #d5d5d5;
    position: relative
}

._5e4h ._5e2k {
    height: 20px
}

._5e4h ._5e4k, ._5e4h ._5e2g {
    height: 20px
}

._5e4h ._5e4k {
    background: #6d84b4;
    border: solid #3b5998;
    border-radius: 0;
    border-width: 1px 0 1px 1px;
    color: #fff;
    margin: -1px;
    overflow: hidden;
    position: relative
}

._5e4h._5e2j ._5e4k, ._5e4h._5e2j ._5e2g {
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: right
}

._5e4h ._5e4k {
    top: 0
}

._5e4h ._5e2g {
    color: #333;
    top: -20px
}

._5e2l ._5e4k {
    height: 8px
}

._5e4h._5e2m ._5e4k, ._5e4h._5e2m {
    border-radius: 15px
}

._5e4h ._5e4j {
    border-right: solid 1px #3b5998
}

._5e4h ._5e2d {
    border-width: 1px 0
}

._5e4h ._5e2h {
    display: inline-block;
    line-height: 20px;
    padding-left: 5px;
    white-space: nowrap
}

._5e4h._5e2j ._5e2h {
    padding-right: 5px
}

._5e4h ._5e2n {
    position: absolute
}

._5e4h._5e2j ._5e2n {
    position: relative
}

._4mnv {
    border-width: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative
}

._4mns {
    display: inline-block
}

._4mnw {
    display: flex
}

._4mnq {
    background-color: #e9ebee;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden
}

._34n6 {
    align-items: center;
    background-color: #e9ebee;
    color: #90949c;
    display: flex;
    justify-content: center
}

._40vg {
    font-size: 11px;
    padding: 0 5px
}

._1lty, ._1lty ._4f7k, ._1lty ._4f7k div[tabindex], ._1lty ._4f7k span[tabindex], ._1lty ._4f7k img[tabindex], ._1lty ._4f7k a[href], ._1lty ._4f7k button, ._1lty ._4f7k input, ._1lty ._4f7k select, ._1lty ._4f7k textarea {
    box-shadow: none;
    outline: none
}

.sp_8sGc832961R {
    background-image: url(/rsrc.php/v3/yu/r/eZESrIK_802.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px
}

.sp_8sGc832961R.sx_610117 {
    width: 16px;
    height: 16px;
    background-position: 0 -49px
}

.sp_8sGc832961R.sx_d1127f {
    width: 16px;
    height: 16px;
    background-position: 0 -66px
}

.sp_8sGc832961R.sx_af61d0 {
    width: 24px;
    height: 24px;
    background-position: 0 0
}

.sp_8sGc832961R.sx_7186af {
    width: 16px;
    height: 16px;
    background-position: 0 -83px
}

.sp_8sGc832961R.sx_17c32e {
    background-position: 0 -100px
}

.sp_8sGc832961R.sx_e45dd7 {
    background-position: 0 -113px
}

.sp_8sGc832961R.sx_3663a1 {
    width: 23px;
    height: 23px;
    background-position: 0 -25px
}

.sp_8sGc832961R.sx_045c96 {
    width: 9px;
    height: 11px;
    background-position: -13px -100px
}

.sp_8sGc832961R.sx_df5985 {
    background-position: 0 -126px
}

.sp_8sGc832961R.sx_988ff6 {
    background-position: 0 -139px
}

.sp_8sGc832961R.sx_25a5fb {
    background-position: 0 -152px
}

.sp_8sGc832961R.sx_109ff4 {
    background-position: 0 -165px
}

.sp_8sGc832961R.sx_366d3d {
    background-position: 0 -178px
}

.sp_8sGc832961R.sx_51d324 {
    background-position: 0 -191px
}

#bootloader_eNMpn {
    height: 42px;
}

.bootloader_eNMpn {
    display: block !important;
}